html {
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

html,
body,
div,
section,
button,
input {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.button {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.flex--space-between {
    justify-content: space-between;
}

.flex--center {
    justify-content: center;
}
