.category-selector__wrapper {
    background-color: $white;
    padding: 1rem 0 0;
}

.category-selector {
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.category-selector__item {
    display: flex;
    align-items: center;

    .switch-paddle {
        transform: scale(0.7);
    }
}
