.form-label__text {
    text-transform: capitalize;
    font-size: 0.9rem;
}

.form-label--required {
    .form-label__text::after {
        content: ' *';
        color: map-get($foundation-palette, 'primary');
    }
}

.form-label__error {
    color: map-get($foundation-palette, 'primary');
    margin-left: 0.3rem;
}

.input--error {
    border-color: map-get($foundation-palette, 'primary');
}

.color-picker__swatch {
    display: none;
}

.color-picker__popover {
    position: absolute;
    z-index: 2;
}

.color-picker__cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.color-picker__label {
    cursor: pointer;
}
