.form-label__text {
    text-transform: capitalize;
    font-size: 0.9rem;
}

.form-label--required {
    .form-label__text::after {
        content: ' *';
        color: map-get($foundation-palette, 'primary');
    }
}

.form-label__error {
    color: map-get($foundation-palette, 'primary');
    margin-left: 0.3rem;
}

.input--error {
    border-color: map-get($foundation-palette, 'primary');
}

[type='color'] {
    padding: 0;
    margin: 0;
    border: none;
    width: 30px;
    height: 30px;
    box-shadow: none;
}
