.table__heading {
    margin: 0;
}

.table {
    text-transform: capitalize;

    thead,
    tbody,
    tfoot,
    tr {
        border-right: none;
        border-left: none;
    }

    thead {
        background-color: $black;
    }

    tfoot {
        background-color: map-get($foundation-palette, 'secondary');
        color: $white;
    }

    input,
    .switch {
        margin-bottom: 0;
    }

    i[class^='fi-'] {
        font-size: 1.3em;
    }
}

.table__cell--right {
    text-align: right;
}

.table__cell--center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-graph {
    width: 100%;
    display: flex;

    .category-graph__item {
        background-color: map-get($foundation-palette, 'primary');
        color: transparent;
        height: 2rem;
        border-right: 1px solid $white;
    }
}

.table__category-amount {
    margin-bottom: 1rem;
    width: auto;
}

.table__category-amount__tbody {
    .category-amount__chip {
        width: 1rem;
        height: 1rem;
        margin-right: 0.3rem;
        background-color: map-get($foundation-palette, 'primary');
    }
}
