.table {
    text-transform: capitalize;

    thead {
        border-right: none;
        border-left: none;
    }

    tbody {
        border-right: none;
        border-left: none;
    }

    tr {
        border-right: none;
        border-left: none;
    }

    input,
    .switch {
        margin-bottom: 0;
    }

    i[class^='fi-'] {
        font-size: 1.3em;
    }
}

.table__currency {
    text-align: right;
}
