.banner {
    color: $body-background;
}

.login {
    background-color: $body-background;
    color: $primary-color;
}

.menu {
    background-color: $body-background;
}

.menu__item {
    color: $primary-color;
    border-top: 1px solid $border-color;
    color: $text-color;
}
